nav {
  background-color: brown;
}

nav a {
  color: white;
  font-size: 1.8em;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
  color: yellow;
  font-size: 1.9em;
}
