<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <footer class="footer">
            <ul>
              <div class="col-md-2 col-md-offset-2">
                <li><a router-link='about' style="cursor: pointer;">About Us</a></li>
              </div>
              <div class="col-md-2">
                <li><a router-link='webmaster' style="cursor: pointer;">Webmaster</a></li>
              </div>
              <div class="col-md-2 col-xs-offset-2">
                <li><a href="#">Socials</a></li>
              </div>
              <div class="col-md-2">
                <li><a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a></li>
                <li><a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
              </div>
            </ul>
      </footer>
    </div>
  </div>
</div>
