<div class="container">
  <div class="row">
    <div class="col-xs 12">
      <h1>Play the odd and even game!</h1>
      <h2>Just press start and see which column will reach 10 faster! What's your bet?</h2>
    </div>

  </div>
  <div class="row">
    <div class="col-xs 12">
      <button class="btn btn-success col-xs-6 col-xs-offset-3" (click)='startGame()'>Start</button>
      <button class="btn btn-danger col-xs-6 col-xs-offset-3" (click) = 'stopGame()'>Stop</button>
    </div>
  </div>



</div>
