<div class="container">

  <div class="row">
    <div class="col-md-6">
      <a [routerLink]="['detail', i]" class="list-group-item clearfix" style="cursor: pointer;" *ngFor="let recipe of recipes, index as i" [recipe]='recipe' [id] = 'i'>
      <div class="pull-left">
        <h4 class="list-group-item-heading"> {{ recipe.name }}</h4>
        <p class="list-group-item-text">{{ recipe.description }}</p>
      </div>
          <span class="pull-right">
            <img [src]="recipe.imagePath" alt=" {{ recipe.name }}" class="img-responsive" style="max-height: 50px">
          </span>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button class=" btn btn-primary" role="button" (click)="onNewRecipe()">Add recipe</button>
      <button class=" btn btn-success" role="button" (click) = 'onEditRecipe()' routerLinkActive="router-link-active">Edit Recipe</button>
    </div>
  </div>

</div>




